div.like {
    color: darkgrey;
    font-size: large;
    display: inline;
}

button.likeButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: 10px;
    cursor: grab;
}
.commentText {
    display: block;
    text-align: left;
    margin-left: 6%;
    font-size: small;
}