/*
    Dieser Code wurde exklusiv und allein von Leander Kafemann entwickelt.
*/

body {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/snow.png');
    background-color: #f0f8ff; /* Ein sanftes Schneeweiß als Fallback */
    color: #333; /* Dunklerer Text für besseren Kontrast */
}

.oval {
    background-color: rgba(255, 255, 255, 0.8); /* Leicht transparenter weißer Hintergrund */
    border: 2px solid #d4af37; /* Goldener Rand */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Weicherer Schatten */
}

h1, h2, h3 {
    color: #b22222; /* Ein festliches Feuerrot */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.navbar {
    background-color: #2e8b57; /* Ein sattes Tannengrün */
}

    .navbar a {
        color: white;
    }

.footerContainer .footer {
    background-color: #2e8b57; /* Passend zur Navbar */
    color: white;
}

iframe {
    border: 3px solid #d4af37; /* Goldener Rand für den Kalender */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
