iframe {
    margin-left: 10%;
    margin-right: 10%;
    height: 400px;
    width: 80%;
    border: dotted;
    border-radius: 80px;
    transition-duration: 4s;
    background-color: black;
    font-family: "Source Code Pro", monospace;
}
iframe:hover {
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
}
.loader {
    border: 32px groove hotpink;
    border-radius: 60%;
    width: 800px;
    height: 700px;
    margin-left: 20%;
    margin-right: 20%;
    animation: spin 2s alternate-reverse infinite;
    position: center;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
div.outer {
    background-color: black;
    height: 1000px;
}
h1.fix {
    position: fixed;
    color: white;
    margin: 200px;
}