/*
    Stylesheet für die Büro-Webseite.
    Büro ist ein Projekt von Leander Kafemann.
    Diese Seite wurde ebenfalls von Leander Kafemann entworfen.
*/
html {
    background-color: powderblue;
    font-family: Verdana, sans-serif;
}
h1, h2, h3, h4 {
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
}
.footer {
    height: 16px;
    bottom: 0px;
    position: sticky;
    position: -webkit-sticky;
    background-color: #e5e5e5;
}
.footer:hover {
    height: 27px;
}
.footerText {
    font-size: 12px;
}
.footerText:hover {
    font-size: 18px;
}
.navbar {
    background-color: #e5e5e5;
    height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav {
    float: right;
}
li {
    display: inline;
    margin: 15px;
}
nav a {
    text-decoration: none;
    color: #353535;
    display: inline-block;
    padding-top: 15px;
}
nav a:hover {
    color: #00b2b2;
}
nav a:active {
    font-weight: bold;
}
@media screen and (max-width: 700px) {
    nav {
        width: 100%;
        margin-top: -5px;
    }
    nav li {
        display: block;
        background-color: #e5e5e5;
        text-align: center;
    }
}
p {
    text-align: center;
}
a {
    color: darkgray;
    text-decoration: none;
}
a:hover {
    color: lightgoldenrodyellow;
}
a:active {
    font-weight: bold;
}
h2 {
    font-size: 32px;
}
.photoElement {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
details {
    text-align: center;
}
summary {
    text-align: center;
}
div.like {
    color: darkgrey;
    font-size: large;
    display: ruby;
}
button.likeButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: 10px;
    cursor: grab;
}
.login_button {
    background-color: white;
    border: 2px solid silver;
    border-radius: 4px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    font-family: Verdana, sans-serif;
}
.login_button:hover {
    width: 200px;
    border: 2px solid black;
}